<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/ballot.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" 
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" 
            crossorigin="anonymous">
    </script>
    <style>
      table, tr{
        border: 4px solid black;
        border-collapse: collapse;
      }

      .checkbox{
        -webkit-appearance: checkbox;
        -webkit-transform:;
        margin: 20px;
      }

    </style>
  </head>
  <body>
    <div class='ballot'>
      <div class='ballotHeader'>

      </div>
      <div class='ballotContents'>
        <table class="ballotTable">
          <tbody>
            <%candidates.forEach(function(candidate){%>
              <tr>
                <td>
                  <label for="<%=candidate._id%>">
                    <p class="candidateName"><%=candidate._surname%>, <%=candidate._firstName%></p>
                    <p class="candidateAddress"><%=candidate._address%></p>
                  </label>
                </td>
                <td>
                  <label for="<%=candidate._id%>">
                    <img src="/images/parties/<%=candidate._party%>.png" alt="<%=candidate._party%>">
                  </label>
                </td>
                <td class="container">
                  <input id="<%=candidate._id%>" class="checkbox" type="radio" name="candidate" value="<%=candidate._id%>">
                  <span class="checkmark">
                </td>
              </tr>
            <%});%>
          </tbody>
        </table>
        <button id="btnVote" value="Submit">Submit</button>
      </div>
    </div>
    
    

  </body>
</html>
