<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Ballot for <%=constituency._name%></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" 
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" 
            crossorigin="anonymous">   </script>
    <style>

    </style>
  </head>
  <body>
    <form method = "get" action="./users/logout">
      <button>Logout</button>
    </form>
    <div class='ballotContainer'>
      <div class='ballotHeader'>
        Ballot for <span><%=constituency._name%><span>
      </div>
      <div class='ballotContents'>
        <table class="ballotTable">
          <tbody>
            <%candidates.forEach(function(candidate){%>
              <tr>
                <td class="candidateLabel">
                  <label for="<%=candidate._id%>">
                    <ul class="candidateDetails">
                      <li>
                        <input id="<%=candidate._id%>_name" type="hidden" name="votingFor" value="<%=candidate._firstName%> <%=candidate._surname%>, <%=candidate._party._name%>"></input>
                        <p class="txtBold"><span class="txtUpper"><%=candidate._surname%></span>, <%=candidate._firstName%></p>
                        <p class="txtRegular"><%=candidate._address._addressLine1%>, 
                                                <%=candidate._address._addressLine2%>,
                                                <%=candidate._address._postcode%></p>
                        <p class="txtBold"><%=candidate._party._name%></p>
                      </li>
                      <li>
                        <img src="/images/parties/<%=candidate._party._name%>.png" alt="&nbsp;">
                      </li>
                    </ul>
                  </label>
                </td>
                <td class="container">
                  <input id="<%=candidate._id%>" class="checkbox" type="radio" name="candidate" value="<%=candidate._id%>">
                  <span class="checkmark">
                </td>
              </tr>
            <%});%>
          </tbody>
        </table>
        <form method="post" action="ballot/cast_vote">
          <input type="hidden" id="votingFor" name="votingFor" value=""></input>
          <input type="hidden" id="voterId" name="voterId" value="<%=voter%>"></input>
          <button id="btn_vote" value="Submit">Submit</button>
        </form>
      </div>
    </div>
    
    
    <script src="/javascripts/ballot.js"></script>
  </body>
</html>
