<!DOCTYPE html>
<html>
  <head>
    <title>Edit elections</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Elections</h1>
    <div class='ElectionDetails'>
      <%elections.forEach(function(election){
      console.log(election);%>
        <h2><%=election._electionName%></h2>
        <form method = "post" action="/admin/election/edit">
          <label for="name">Edit election Name</label>
          <input type="text" name="name" value= "<%=election._electionName%>"/>
          <label for="startDate">Start Date</label>
          <input type="date" name="startDate" value="<%=election._electionStart%>"/>
          <label for="endDate">End Date</label>
          <input type="date" name="endDate" value="<%=election._electionEnd%>"/>
          <label>Constituencies</label>
          <%constituencies.forEach(function(constituency){%>
            <label><%=constituency._name%></label>
            <%if(elections._constituencies != null && elections._constituencies.includes(constituency._id)){%>
            <input type="checkbox" checked name='constituencies'value="<%=constituency._id%>">
            <%}else{%>
            <input type="checkbox"  name='constituencies'value="<%=constituency._id%>">
          <%}});%>
          <button>Update</button>
        </div>
      </form>
      <%});%>
    </body>
  </html>
