<!DOCTYPE html>
<html>
  <head>
    <title>Edit Addresses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/admin">Back</a>
    <h1>Addresses</h1>
    <div class='addressDeitals'>
      <%addresses.forEach(function(address){%>
        <h2><%=address._addressLine1 + ' ' + address._postcode%></h2>
        <form method = "post" action="/admin/address/edit">
          <input type="hidden" name="addressId" value='<%=address._id%>'/>
          <label for="addressLine1">Address line 1</label>
          <input type="text" name="addressLine1" value='<%=address._addressLine1%>'/>

          <label for="addressLine2">Address line 2</label>
          <input type="text" name="addressLine2"value='<%=address._addressLine2%>'/>

          <label for="addressLine3">Address line 3</label>
          <input type="text" name="addressLine3"value='<%=address._addressLine3%>'/>

          <label for="city">City Name</label>
          <input type="text" name="city"value='<%=address._city%>'/>

          <label for="county">County Name</label>
          <input type="text" name="county"value='<%=address._county%>'/>

          <label for="postcode">Postcode</label>
          <input type="text" name="postcode" value='<%=address._postcode%>'/>
          
          <button type='submit'>Update</button>
          <button type='submit' formaction="/admin/address/remove">Remove</button>
        </form>
      <%});%>
  </body>
</html>
