<!DOCTYPE html>
<html>
  <head>
    <title>Edit Constituency</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/addConstituency.js"></script>
  </head>
  <body>
    <h1>Edit Constituency</h1>
      <%
        console.log(err);
        if(err[0]){
          err.forEach(function(error){
            %><div class="error"><%=error.msg%></div><%
          });
        }
      %>

<div class='constituenciesDetails'>
  <%constituencies.forEach(function(constituency){%>
  <form method = "post" action="/admin/constituency/add">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%=constituency._name%>"/>
    <label for="candidates">Candidates</label>
    <%candidates.forEach(function(candidate){%>
        <label><%=candidate._firstName + " " + candidate._surname%></label>
        <%
        console.log("Constituency" + constituency._candidates);
        if(constituency._candidates != null && constituency._candidates.toString().includes(candidate._id.toString())){
          console.log('Candidate' + candidate._id);
          console.log("Match Found");%>
          <input type="checkbox" checked name="candidates"value="<%=candidate._id%>">
        <%}else{
          console.log('Match Not Found');%>
          <input type="checkbox" name="candidates"value="<%=candidate._id%>">
    <%}});%>

    <label for="postcode">Postcode</label>

    <input type="text" name="postcode" id="postcode"/>
    <button type='button' onclick="addPostcode()">Add Postcode</button>
      <div id="postcodeGroup">
        <%constituency._validPostcodes.forEach(function(postcode){%>
          <div id ='<%=postcode%>'>
            <label><%=postcode%></label>
            <input type="checkbox" checked='true' name="postcodes"value="<%=postcode%>">
        <%});%>
      </div>
    <button type='submit'>Add</button>
  </div>
  </form>
  <%});%>
</div>
</html>