<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.js" 
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" 
            crossorigin="anonymous">   </script>
    <style>

    </style>
  </head>
  <body>
    <form method = "get" action="/users/logout">
      <button>Logout</button>
    </form>
    <div class='proxyContainer'>
        <div class='proxyAll'>
            <ul class='displayProx'>
                <p>Vote as yourself:</p>
                <li id='<%=voter._id%>' class='voterDetails hasVoted<%=voter._hasVoted%>'>
                    <p><span class='upper'><%=voter._surname%></span>, <%=voter._firstName%></p>
                    <p><%=voter._address._addressLine1%>, <%=voter._address._postcode%></p>
                    <P>Has Voted: <%=voter._hasVoted%></p>
                    <input id='<%=voter._id%>input' type="hidden" value="<%=voter._firstName%> <%=voter._surname%> "></input>
                </li>
                    <p>Vote as a proxy:</p>
                <%proxees.forEach(function(p){%>
                    <li id='<%=p._id%>' class='proxee voterDetails hasVoted<%=p._hasVoted%>'>
                        <p><span class='upper'><%=p._surname%></span>, <%=p._firstName%></p>
                        <p><%=p._address._addressLine1%>, <%=p._address._postcode%></p>
                        <p>Has Voted: <%=p._hasVoted%></p>
                        <input id='<%=p._id%>input' type="hidden" value="<%=p._firstName%> <%=p._surname%> "></input>
                    </li>
                <%});%>
            </ul>
        </div>
        <form method="post" action="proxy/ballot">
                <input type="hidden" id="selectedUser" name="selectedUser" value=""></input>
                <button type="submit" id="continue" disabled="disabled">Continue to ballot</button>
        </form>
    </div>
    
    
    <script>
        $('.voterDetails').click(function(){
            if($(this).hasClass('hasVotedtrue')){
                //alert("this voter has voted");
            }else{
                //alert("this voter has not voted")
                if($(this).hasClass('selected')){
                    $(this).removeClass('selected');
                    $('#selectedUser').val("");
                    $('#continue').attr("disabled", "disabled");
                }else{
                    $('.voterDetails').removeClass('selected');
                    $(this).addClass('selected');
                    $('#selectedUser').val($(this).attr("id"));
                    $('#continue').removeAttr("disabled");
                }
            }
        });

        $('#continue').click(function(){
            var vid = $('.voterDetails.selected').attr('id');
            var vname = $('#'+vid+'input').val();
            alert("Voting as " + vname);
        });

    </script>
  </body>
</html>
